<section class="mat-typography">
    <mat-card>
  <div class="mat-app-background basic-container">
    <h3>Blood Pressures
      <button mat-icon-button (click)="showBloodPressure()" aria-label="Refresh">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button mat-icon-button (click)="toogleBloodPressure()" aria-label="add-blood-pressure">
        <mat-icon>add_circle</mat-icon>
      </button>
    </h3>

    <div *ngIf="showAddBloodPressurePanel">
      <mat-form-field>
        <input type="number" matInput placeholder="Systolic" [(ngModel)]="model.systolic">
        <mat-hint>120</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Diastolic" [(ngModel)]="model.diastolic">
        <mat-hint>95</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Heart Rate" [(ngModel)]="model.heartrate">
        <mat-hint>60</mat-hint>
      </mat-form-field>
      <button mat-raised-button (click)="saveBloodPressure()">Save</button>
    </div>

    <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>-->

    <table mat-table [dataSource]="dataSource" style="width: 100%;">
      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | date}} </td>
      </ng-container>
      <!-- Systolic -->
      <ng-container matColumnDef="systolic">
        <th mat-header-cell *matHeaderCellDef> Systolic </th>
        <td mat-cell *matCellDef="let element"> {{element.systolic}} </td>
      </ng-container>
      <!-- heartrate -->
      <ng-container matColumnDef="heartrate">
        <th mat-header-cell *matHeaderCellDef> Heart Rate </th>
        <td mat-cell *matCellDef="let element"> {{element.heartrate}} </td>
      </ng-container>
      <!-- diastolic -->
      <ng-container matColumnDef="diastolic">
        <th mat-header-cell *matHeaderCellDef> Diastolic </th>
        <td mat-cell *matCellDef="let element"> {{element.diastolic}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="bloodPressureCount" [pageSize]="10"
                   [pageSizeOptions]="[10, 20]"></mat-paginator>
  </div>
</mat-card>
</section>
